.DS_Store
# Ignore le dossier d'environnement virtuel
venv/

# Ignore les fichiers générés par Python
__pycache__/

# Ignore les fichiers de configuration locaux
*.pyc
*.pyo

# Ignore les fichiers de build de Vite
vite/dist/
vite/node_modules/

# Ignore les fichiers de la base de données Django
django/db.sqlite3

# Ignore les fichiers de build Django
django/__pycache__/
django/app/migrations/
